<section>
    <div class="blog-aboutUs-wrapper">
        <div class="blog">
            <div class="top-line">From The Blog</div>
            <div class="blog-wrapper">
                <div class="post-blog">
                    <img src="../img/125.png" alt="125">
                    <div class="title">Post Title Here</div>
                    <div class="date">Monday 21st January</div>
                    <div class="content">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis.</div>
                </div>
                <div class="post-blog">
                    <img src="../img/125.png" alt="125">
                    <div class="title">Post Title Here</div>
                    <div class="date">Monday 21st January</div>
                    <div class="content">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis.</div>
                </div>
                <div class="post-blog">
                    <img src="../img/125.png" alt="125">
                    <div class="title">Post Title Here</div>
                    <div class="date">Monday 21st January</div>
                    <div class="content">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis.</div>
                </div>
            </div>
        </div>
        <div class="about-us">
            <div class="top-line">About Us</div>
            <div class="about-us-wrapper">
                <div class="about-us-item">
                    <img class="img-box" src="../img/60.png" alt="60">
                    <div class="left-side">
                        <div class="title">Name Goes Here</div>
                        <div class="content">Temper inte interdum sem pus odio urna eget.</div>
                        <a href="#"><div class="view-profile">View Profile »</div></a>
                    </div>
                </div>
                <div class="about-us-item">
                    <img class="img-box" src="../img/60.png" alt="60">
                    <div class="left-side">
                        <div class="title">Name Goes Here</div>
                        <div class="content">Temper inte interdum sem pus odio urna eget.</div>
                        <a href="#"><div class="view-profile">View Profile »</div></a>
                    </div>
                </div>
                <div class="about-us-item">
                    <img class="img-box" src="../img/60.png" alt="60">
                    <div class="left-side">
                        <div class="title">Name Goes Here</div>
                        <div class="content">Temper inte interdum sem pus odio urna eget.</div>
                        <a href="#"><div class="view-profile">View Profile »</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-border">
        <img src="../img/border-bottom.png" alt="border">
    </div>
</section>