<section>
    <div class="contacts-wrapper">
        <div class="tweets-wrapper">
            <div class="title">LATEST TWEETS</div>
            <div class="tweets-title">Post Title</div>
            <div class="last-posted-date">Posted by Admin on 00.00.0000</div>
            <div class="content">Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet.</div>
            <a href="#"><div class="link">Read More »</div></a>
        </div>
        <div class="links-wrapper">
            <div class="title">QUICK LINKS</div>
            <a href="#"><div class="link">Link Text Here</div></a>
            <a href="#"><div class="link">Link Text Here</div></a>
            <a href="#"><div class="link">Link Text Here</div></a>
            <a href="#"><div class="link">Link Text Here</div></a>
            <a href="#"><div class="link">Link Text Here</div></a>
            <a href="#"><div class="link">Link Text Here</div></a>
        </div>
        <div class="contact">
            <div class="title">CONTACT US</div>
            <div class="content">Company Name Street Name & Number Town Postcode/Zip</div>
            <div class="phone-number">Tel: <br>xxxxx xxxxxxxxxx</div>
            <div class="fax">Fax: <br>xxxxx xxxxxxxxxx</div>
            <div class="email">Email: <br>contact@mydomain.com</div>
        </div>
        <div class="socialize">
            <div class="title">SOCIALISE</div>
            <a href="#" class="services"><div class="img-wrapper"><img src="../img/linkedin.png" alt="linkedin"></div>LinkedIn</a>
            <a href="#" class="services"><div class="img-wrapper"><img src="../img/twitter.png" alt="twitter"></div>Twitter</a>
            <a href="#" class="services"><div class="img-wrapper"><img src="../img/pinterest.png" alt="pinterest"></div>Pinterest</a>
            <a href="#" class="services"><div class="img-wrapper"><img src="../img/rss.png" alt="rss"></div>RSS Feed</a>
        </div>
    </div>
    <div class="bottom-border">
        <img src="../img/border-bottom.png" alt="border">
    </div>
</section>