<section>
    <div class="header-wrapper">
        <div class="logo">
            <div class="top-line-logo"><a href="#">Splendorous</a></div>
            <div class="bottom-line-logo">Free PSD Website Template</div>
        </div>
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li class="active" onclick="isActive(this.id)" id="nav-1"><a href="#">HOME</a></li>
                    <li onclick="isActive(this.id)" id="nav-2"><a href="#">STYLE DEMO</a></li>
                    <li onclick="isActive(this.id)" id="nav-3"><a href="#">FULL WIDTH</a></li>
                    <li onclick="isActive(this.id)" id="nav-4"><a href="#">DROPDOWN</a></li>
                    <li onclick="isActive(this.id)" id="nav-5"><a href="#">PORTFOLIO</a></li>
                    <li onclick="isActive(this.id)" id="nav-6"><a href="#">GALLERY</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>