<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gulp Start</title>
    <link rel="stylesheet" href="./../css/styles.css">
    <link rel="stylesheet" href="./../css/style.scss">
    <link rel="stylesheet" href="./../css/slider.scss">
    <link rel="stylesheet" href="./../css/latestWorks.scss">
    <link rel="stylesheet" href="./../css/blog.scss">
    <link rel="stylesheet" href="./../css/contacts.scss">
</head>
<body>
    <header>
        //=./header.html
    </header>
    //=./slider.html
    //=./latestWorks.html
    //=./blog.html
    //=./contacts.html
    <footer>
        //=./footer.html
    </footer>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>
