<section>
    <div class="top-line">Latest Project Work</div>
    <div class="latest-work-wrapper">
        <a href="#" class="link">
            <div class="projects-wrapper">
                <div class="project-title">
                    Project Title Here
                </div>
                <div class="project-body">
                    <img src="../img/225.png" alt="225px">
                </div>
                <div class="project-footer">
                    Short Descriptive Text Here
                </div>
            </div>
        </a>
        <a href="#" class="link">
            <div class="projects-wrapper">
                <div class="project-title">
                    Project Title Here
                </div>
                <div class="project-body">
                    <img src="../img/225.png" alt="225px">
                </div>
                <div class="project-footer">
                    Short Descriptive Text Here
                </div>
            </div>
        </a>
        <a href="#" class="link">
            <div class="projects-wrapper">
                <div class="project-title">
                    Project Title Here
                </div>
                <div class="project-body">
                    <img src="../img/225.png" alt="225px">
                </div>
                <div class="project-footer">
                    Short Descriptive Text Here
                </div>
            </div>
        </a>
        <a href="#" class="link">
            <div class="projects-wrapper">
                <div class="project-title">
                    Project Title Here
                </div>
                <div class="project-body">
                    <img src="../img/225.png" alt="225px">
                </div>
                <div class="project-footer">
                    Short Descriptive Text Here
                </div>
            </div>
        </a>
    </div>
</section>