<section>
    <div class="slider-wrapper">
        <div class="slides">
            <div class="slide current" style="background-color: #96739f">Slide 1</div>
            <div class="slide" style="background-color: aqua">Slide 2</div>
            <div class="slide" style="background-color: chartreuse">Slide 3</div>
        </div>
        <a class="prev" onclick="prev()"><img src="../img/left-arrow.png" alt="left-arrow"></a>
        <a class="next" onclick="next()"><img src="../img/right-arrow.png" alt="right-arrow"></a>
    </div>
</section>