<section>
    <div class="slider-wrapper">
        <div class="slides">
            <div class="slide">
                <div class="slide-wrapper">
                    <div class="information-wrapper">
                        <h1 class="title"> Cursus penati saccum nulla. </h1>
                        <div class="content"> Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.
                            Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo
                            nulla et feugiat adipiscinia pellentum leo. </div>
                        <a href="#"><button>Read More Here »</button></a>
                    </div>
                    <div class="img-wrapper">
                        <img src="../img/360.png" alt="360">
                    </div>
                </div>
            </div>
            <div class="slide">
                <div style="background-color: lightgoldenrodyellow" class="slide-wrapper">
                    <div class="information-wrapper">
                        <h1 class="title"> Cursus penati saccum nulla. </h1>
                        <div class="content"> Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.
                            Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo
                            nulla et feugiat adipiscinia pellentum leo. </div>
                        <a href="#"><button>Read More Here »</button></a>
                    </div>
                    <div class="img-wrapper">
                        <img src="../img/360.png" alt="360">
                    </div>
                </div>
            </div>
            <div class="slide">
                <div style="background-color: darkgrey" class="slide-wrapper">
                    <div class="information-wrapper">
                        <h1 class="title"> Cursus penati saccum nulla. </h1>
                        <div class="content"> Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.
                            Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo
                            nulla et feugiat adipiscinia pellentum leo. </div>
                        <a href="#"><button>Read More Here »</button></a>
                    </div>
                    <div class="img-wrapper">
                        <img src="../img/360.png" alt="360">
                    </div>
                </div>
            </div>
        </div>
        <span class="prev" onclick="prevSlide()"><img src="../img/left-arrow.png" alt="left-arrow"></span>
        <span class="next" onclick="nextSlide()"><img src="../img/right-arrow.png" alt="right-arrow"></span>
    </div>
    <div class="bottom-border">
        <img src="../img/border-bottom.png" alt="border">
    </div>
</section>